:root {
    /* Color Variables */
    --background-color-navbar: #492911;
    --background-color-body: #e6d9b9;
    --background-color-footer: #492911;
    --text-color-navbar: #e6d9b9;
    --text-color-footer: #e6d9b9;
    --text-color-body: #492911;

    /* Font Variables */
    --font-weight-header: 700;
    --font-weight-body: 400;
    --font-weight-footer: 400;
    --font-size-header: 18px;
    --font-size-body: 16px;
    --font-size-footer: 14px;
    --h1-font-size: 28px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
}

body {
    background-color: var(--background-color-body);
    color: var(--text-color-body);
    margin: 0;
}

/* Nav bar styling */

.navbar1 {
    display: grid;
    grid-template-columns: 1.5fr 3fr 0.8fr;
    width: 100%;
    position: relative;
    top: 18px;
    height: 6rem;
    z-index: 1;
    background-color: var(--background-color-navbar);
    color: var(--text-color-navbar);
    line-height: 70px;
    align-items: center;
    text-shadow: 2px 2px 0px #596366;
}

header {
    align-items: center;
}

/* navbar starting content styling start */
.nav-bar1 {
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    gap: 2rem;
}

.nav-bar1 a {
    text-decoration: none;
    color: var(--text-color-navbar);
    padding: 5px 0px 0px 10px;
    text-align: center;
}

/* navbar starting content styling end */

/* navbar middle content styling start */
.nav-bar2 {
    text-align: right;

}

.nav-bar-2 {
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 7rem;
}

.nav-bar-2 a {
    text-decoration: none;
    color: var(--text-color-navbar);
    line-height: 70px;
    text-align: center;
}

label {
    margin: 0 30px 0 0;
    font-size: var(--h3-font-size);
    line-height: 70px;
    display: none;
    text-align: center;
}

#toggle {
    display: none;
}

/* navbar middle content styling end */

/* navbar end content styling start */
.nav-bar3 {
    display: flex;
    justify-content: center;

}

.nav-bar3 a {
    text-decoration: none;
    color: var(--text-color-navbar);
    text-align: center;
}

/* navbar end content styling end */
/* home page start */
.home_header_div_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.1);
    justify-items: center;
    height: 39rem;
    align-items: center;
    margin: 0px;
    margin-top: -96px;
}

.home_header_div_1_order_btn {
    text-decoration: none;
    background-color: var(--background-color-body);
    width: 14rem;
    height: 3rem;
    border-radius: 21px;
    position: relative;
    top: 7rem;
    padding: 26px 0 0 0;
    text-align: center;
}

.home_header_div_1_order_btn a {
    text-decoration: none;
    color: var(--text-color-body);
    font-weight: var(--font-weight-header);
}

.home_header_div_1_reserve_btn {
    text-decoration: none;
    background-color: var(--background-color-navbar);
    width: 14rem;
    height: 3rem;
    position: relative;
    top: 7rem;
    border-radius: 21px;
    padding: 26px 0 0 0;
    text-align: center;
}

.home_header_div_1_reserve_btn a {
    text-decoration: none;
    color: var(--text-color-navbar);
    font-weight: var(--font-weight-header);
}

/* main bar content css start */
.hom {
    background-color: var(--background-color-body);
    color: var(--text-color-body);
}

.home_main_div_1 {
    text-align: center;
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    position: relative;
    top: 31px;
}

.home_main_div_2 {
    font-size: var(--font-size-body);
    line-height: 1.6;
    text-align: center;
    padding: 0px 48px 12px 48px;
    color: var(--text-color-body);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 0 1rem 0 1rem;
}

#ico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
}

#ico li {
    text-decoration: none;
    list-style: none;
}

#ico li a {
    text-decoration: none;
    list-style-type: none;
    color: var(--text-color-body);
}

.img1 {
    width: 100%;
    height: fit-content;
    border-radius: 21px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.9);
}

.home_main_reserve {
    text-align: center;
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    position: relative;
    top: -13px;
}

.home_main_reserve_img {
    width: 97%;
    position: relative;
    left: 1.2rem;
    height: 450px;
    border-radius: 15px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.9);
}

.pa {
    font-size: var(--font-size-body);
    line-height: 1.6;
    margin: 0;
    text-align: justify;
    padding: 0px 48px 12px 48px;
    color: var(--text-color-body);
}

/* main bar content css end */
/* footer content css start */
footer {
    top: -18px;
}

.hom_footer_div {
    background-color: var(--background-color-footer);
    height: 7rem;
}

.hom_footer_div_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.hom_footer_div_1 a {
    text-decoration: none;
    color: var(--text-color-footer);
    position: relative;
    top: 1rem;
}

.hom_footer_div_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    gap: 1rem;
}

.hom_footer_div_2 a {
    text-decoration: none;
    color: var(--text-color-footer);
    font-size: 21px;
}

.resturant_copy {
    margin: 0;
    color: var(--text-color-footer);
    background-color: var(--background-color-footer);
    text-align: center;
}

/* contact form start */
.resturant_banner img {
    width: 100%;
    height: 450px;
    margin-top: -6rem;
}

.resturant_contact_section {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    margin: 0px 16px;
}

.resturant_contact_section_img img {
    width: 100%;
    height: 621px;
    border-radius: 31px;
}

.resturant_contact_section_content {
    text-align: center;
}

.resturant_contact_section_content p {
    font-size: var(--font-size-header);
}

.resturant_contact_section_content h4 {
    font-size: var(--h3-font-size);
}

.button_div button {
    background-color: var(--background-color-navbar);
    width: 12rem;
    height: 2.5rem;
    border-radius: 18px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9);
}

.button_div a {
    text-decoration: none;
    color: var(--text-color-navbar);
}

.resturant_contact_aside {
    background-color: var(--background-color-navbar);
    color: var(--text-color-navbar);
    width: 31rem;
    padding: 10px 0px 34px 0px;
    border-radius: 31px;
}

.resturant_contact_aside span {
    font-size: var(--font-size-header);
}

.resturant_contact_aside input {
    border-radius: 12px;
    width: 15rem;
    height: 1.4rem;
}

.resturant_contact_aside textarea {
    border-radius: 12px;
    width: 15rem;
    height: 1.4rem;
}

.resturant_contact_aside button {
    background-color: var(--background-color-body);
    color: var(--text-color-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-header);
    width: 11rem;
    height: 3rem;
    border-radius: 21px;
}

/* contact form end */
/* feedback form start */
.resturant_feedback_section {
    text-align: center;
    margin: 44px 0px 10px 0px;
    background-color: var(--background-color-navbar);
    color: var(--text-color-navbar);
    width: 600px;
    border-radius: 31px;
    padding: 10px 0px 31px 0px;
}

.resturant_feedback_section form {
    text-align: right;
    margin-right: 6rem;
}

.resturant_feedback_section h2 {
    font-size: var(--h1-font-size);
}

.resturant_feedback_section p {
    font-size: var(--font-size-header);
}

.resturant_feedback_section input,
select,
textarea {
    width: 16rem;
    height: 1.5rem;
    border-radius: 18px;
}

.resturant_feedback_section span {
    font-size: var(--font-size-body);
}

.resturant_feedback_section button {
    background-color: var(--background-color-body);
    color: var(--text-color-body);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-header);
    width: 11rem;
    height: 3rem;
    border-radius: 21px;
    margin-right: 7rem;
}

/* feedback form end */
/* Privacy and policy  start */
.resturant_privacy_article_main {
    text-align: center;
    margin-top: 2rem;
    line-height: 1.7rem;
}

.resturant_privacy_section li {
    list-style-type: none;
}

/* privacy and policy end */
/* terms and conditions start */
.resturant_terms_article_main {
    text-align: center;
    margin-top: 2rem;
    line-height: 1.7rem;
}

.resturant_terms_section li {
    list-style-type: none;
}

/* terms and conditions end */

/* footer content css end */

/* home page end */

/* reserve page content css */
.img2 {
    width: 48rem;
    height: 450px;
    border-radius: 15px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.9);
}

.reserve_main_div_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem;
    gap: 10px;
}

.reserve_main_div_1 p {
    background-color: var(--background-color-navbar);
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    padding: 36px 52px 0PX 48PX;
    border-radius: 21px;
    color: var(--text-color-navbar);
}

.reserve-form button {
    background-color: var(--background-color-body);
    color: var(--text-color-body);
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: var(--font-weight-header);
    margin-left: 7rem;
}

/* end of reserve page content */

/* about page content  start */

.resturant_about_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 5rem;
}

.resturant_about_section div {
    padding: 20px;
}

.resturant_about_section div h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-header);
    color: var(--text-color-body);
}

.resturant_about_section div p {
    font-size: var(--major-para-font-size);
    font-weight: var(--para-font-weight);
    color: var(--text-color-body);
    line-height: 25px;
    padding: 10px;
    text-align: justify;
}

.resturant_about_section div img {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
    border-radius: 31px;
}

.resturant_about_section div button {
    padding: 10px 20px;
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-footer);
    background-color: var(--background-color-navbar);
    color: var(--text-color-navbar);
    border: none;
    border-radius: 21px;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}

.resturant_about_section div button a {
    text-decoration: none;
    color: var(--button-text-hover-color);
}

.resturant_about_section .button_div {
    text-align: right;
}

/* about page content  end */

@media only screen and (max-width: 480px) {
    label {
        display: block;
        cursor: pointer;
    }

    .navbar1 {
        text-align: center;
        width: 100%;
        grid-template-columns: 2fr 1fr 1fr;
        height: 6rem;
        line-height: 30px;
        gap: 5px;
        text-shadow: none;
    }

    .nav-bar2 {
        margin: 0px;
    }

    .nav-bar1 {
        padding-left: 1rem;
    }

    .nav-bar-2 {
        display: none;
        padding: 0px 0px 0px 5px;
    }

    .nav-bar2 a {
        display: block;
        text-align: center;
        border: 1px solid var(--text-color-navbar);

    }

    #toggle:checked+.nav-bar-2 {
        display: block;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    label {
        display: block;
        cursor: pointer;
    }

    .navbar1 {
        text-align: center;
        width: 100%;
        grid-template-columns: 2fr 1fr 1fr;
        height: 6rem;
        line-height: 30px;
        gap: 5px;
        text-shadow: none;
    }

    .nav-bar1 a {
        padding: 0px 0px 0px 10px;
    }

    .nav-bar2 {
        margin: 0px;
    }

    .nav-bar1 {
        padding-left: 1rem;
        align-items: center;
    }

    .nav-bar-2 {
        display: none;
        padding: 0px 0px 0px 5px;
    }

    .nav-bar2 a {
        display: block;
        text-align: center;
        border: 1px solid var(--text-color-navbar);

    }

    #toggle:checked+.nav-bar-2 {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
    label {
        display: block;
        cursor: pointer;
    }

    .navbar1 {
        text-align: center;
        width: 80%;
        left: 94px;
        grid-template-columns: 2fr 1fr 1fr;
        height: 6rem;
        line-height: 30px;
        gap: 5px;
    }

    .nav-bar1 a {
        padding: 0px 0px 0px 10px;
    }

    .nav-bar2 {
        margin: 0px;
    }

    .nav-bar1 {
        padding-left: 1rem;
        align-items: center;
    }

    .nav-bar-2 {
        display: none;
        padding: 0px 0px 0px 5px;
    }

    .nav-bar2 a {
        display: block;
        text-align: center;
        border: 1px solid var(--text-color-navbar);

    }

    #toggle:checked+.nav-bar-2 {
        display: block;
    }

}

@media only screen and (min-width: 900px) and (max-width: 1050px) {
    label {
        display: block;
        cursor: pointer;
        text-align: end;
    }

    .navbar1 {
        text-align: center;
        width: 80%;
        left: 94px;
        grid-template-columns: 2fr 1.5fr 0.7fr;
        height: 6rem;
        line-height: 30px;
        gap: 5px;
    }

    .nav-bar1 a {
        padding: 0px 0px 0px 10px;
    }

    .nav-bar2 {
        margin: 0px;
    }

    .nav-bar1 {
        padding-left: 1rem;
        align-items: center;
    }

    .nav-bar-2 {
        display: none;
        padding: 0px 0px 0px 5px;
    }

    .nav-bar2 a {
        display: block;
        text-align: center;
        border: 1px solid var(--text-color-navbar);

    }

    .nav-bar3 a {
        position: relative;
        left: -35px;
    }

    #toggle:checked+.nav-bar-2 {
        display: block;
    }

}

@media only screen and (min-width: 1051px) and (max-width: 1151px) {
    .navbar1 {
        text-align: center;
        width: 80%;
        left: 104px;
        grid-template-columns: 2fr 3fr 0.7fr;
        height: 6rem;
        gap: 5px;
    }

    .nav-bar1 a {
        padding: 0px 0px 0px 10px;
    }

    .nav-bar2 {
        margin: 0px;
    }

    .nav-bar1 {
        padding-left: 1rem;
        align-items: center;
    }

    .nav-bar-2 {
        gap: 46px;
    }

    .nav-bar2 a {
        display: block;
        text-align: center;

    }

    .nav-bar3 {
        position: relative;
        left: -26px;
    }

    #toggle:checked+.nav-bar-2 {
        display: block;
    }

}