{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Umami</title>
    <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
    <script src="https://kit.fontawesome.com/22743b5cbb.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar1">
            <div class="nav-bar1">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="80px" height="80px"
                    style="border-radius: 42px;">
                <a href="{% url 'index' %}">URBAN UMAMI</a>
            </div>
            <div class="nav-bar2">
                <label for="toggle">&#9776</label>
                <input type="checkbox" id="toggle">
                <div class="nav-bar-2">
                    <a href="{% url 'menu' %}">MENU</a>
                    <a href="{% url 'order' %}">ORDERS</a>
                    <a href="{% url 'reserve' %}">RESERVE</a>
                    <a href="{% url 'about' %}">ABOUT-US</a>

                </div>
            </div>
            <div class="nav-bar3">
                <a href="{% url 'profile' %}">LOGIN</a>
            </div>
        </nav>
    </header><br>
    <center>
        <main>
            <section>
                <div class="resturant_feedback_section">
                    <h2>Rate Your Dining Experience</h2>
                    <p>We’d love to hear how your visit was!</p>
                    <center>
                        <form action="" method="post">
                            <span>FULL_NAME</span>:<input type="text" name="name" required placeholder="Your name"><br><br>
                            <span>EMAIL_ID</span>:<input type="email" name="email" required
                                placeholder="example@gmail.com"><br><br>
                            <span>WHAT DID YOU ORDER?</span><input type="text" name="order"
                                placeholder="Dish name / Menu items"><br><br>
                            <span>FOOD_RATING</span><select name="food_rating" required>
                                <option value="">Select rating</option>
                                <option>⭐⭐⭐⭐⭐ Excellent</option>
                                <option>⭐⭐⭐⭐ Very Good</option>
                                <option>⭐⭐⭐ Good</option>
                                <option>⭐⭐ Average</option>
                                <option>⭐ Poor</option>
                            </select><br><br>
                            <span>SERVICE_RATING</span><select name="service_rating" required>
                                <option value="">Select rating</option>
                                <option>⭐⭐⭐⭐⭐ Excellent</option>
                                <option>⭐⭐⭐⭐ Very Good</option>
                                <option>⭐⭐⭐ Good</option>
                                <option>⭐⭐ Average</option>
                                <option>⭐ Poor</option>
                            </select><br><br>
                            <span>AMBIENCE RATING</span><select name="ambience_rating" required>
                                <option value="">Select rating</option>
                                <option>⭐⭐⭐⭐⭐ Excellent</option>
                                <option>⭐⭐⭐⭐ Very Good</option>
                                <option>⭐⭐⭐ Good</option>
                                <option>⭐⭐ Average</option>
                                <option>⭐ Poor</option>
                            </select><br><br>
                            <span>COMMENTS</span><textarea name="message"
                                placeholder="Share your thoughts…"></textarea><br><br>
                            <button type="submit">Submit Feedback</button><br>
                        </form>
                    </center>
                </div>
            </section>
        </main>
    </center><br>
    <footer>
        <div class="hom_footer_div">
            <div class="hom_footer_div_1">
                <a href="{% url 'contact' %}">ContactUs</a>
                <a href="{% url 'feedback' %}">Feedback</a>
                <a href="{% url 'privacy' %}">Privacy and Policy</a>
                <a href="{% url 'term' %}">Terms and Conditions</a>
            </div><br>
            <div class="hom_footer_div_2">
                <a href="www.facebook.com"><i class="fa-brands fa-facebook"></i></a><br>
                <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a><br>
                <a href="www.x.com"><i class="fa-brands fa-x-twitter"></i></a><br>
                <a href="www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <p class="resturant_copy">&copy; 2025 Urban Umami. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>